---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Redirecting to Docs...">
    <head>
        <meta http-equiv="refresh" content="0;url=/docs/introduction" />
    </head>
    <Navbar />
    <main class="pt-32 min-h-screen flex items-center justify-center">
        <div class="text-center">
            <div
                class="w-8 h-8 border-4 border-cyan-500 border-t-transparent rounded-full animate-spin mx-auto mb-4"
            >
            </div>
            <p class="text-slate-400">Redirecting to documentation...</p>
        </div>
    </main>
    <Footer />
    <script>
        window.location.href = "/docs/introduction";
    </script>
</Layout>
