---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Hero } from "../components/Hero";

import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import { FAQ } from "../components/FAQ";
import Footer from "../components/Footer.astro";
---

<Layout title="Stratum - Secure your Infrastructure">
	<Navbar />
	<main>
		<Hero client:load />

		<Features />
		<HowItWorks />
		<FAQ client:visible />
	</main>
	<Footer />
</Layout>
