---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import PricingComponent from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Stratum - Pricing">
    <Navbar />
    <main class="pt-20">
        <PricingComponent />
    </main>
    <Footer />
</Layout>
